.rank{
    background: url(../images/rank-icons.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-bottom;
}
.rank.medalstar.green{
    background-position: 0 -0px;
}
.rank.medalstar.red{
    background-position: 0 -48px;
}
.rank.new{
    background-position: 0 -16px;
}
.rank.nfu{
    background-position: 0 -32px;
}
.rank.rossete{
    background-position: 0 -64px;
}
.rank.destacado{
    background-position: 0 -80px;
}
.rank.moderator{
    background-position: 0 -96px;
}
.rank.admin{
    background-position: 0 -112px;
}